
/* =Template
-------------------------------------------------------------- */
#wrapperfb {
    margin:0 auto;
}

#mainfb {
    background-color: #323232;
}

.containerfb {
    margin:0 auto;
    padding:0 0;
}

h1 {
    font-weight:700;
    margin-bottom:12px;
}

p {
    margin-bottom:18px;
}


/* =Header
-------------------------------------------------------------- */
#kopf {
    max-width: 1024px;
	background-color:#fff;
	height: 100px;
	margin: 0 auto;
}

#logofb {
    width:60px;
    height:60px;
    float:left;
}

#titlefb {
    max-width:684px;
    height:60px;
    float:left;
	padding-left:140px;
}

#titlefb h1 {
    text-align:right;
    line-height:60px;
    font-weight:300;
    font-size:24px;
    margin:0;
}





/* =Extras
-------------------------------------------------------------- */
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}